<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Log in</title>

</head>

<body>
    <h1>Welcome to Job Tracker</h1>
    <div class="container">
        <h1>Login</h1>
        <form action="/auth/login" method="POST">
            <div>
                <input type="email" name="username" id="username" placeholder="Email Address" required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
        <h4> 
            Don't have an account? <a href="/auth/register">Register Here</a>
        </h4>
    </div>

    <!-- 100% privacy-first analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

</body>

</html>
