<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new job!</title>
</head>
<body>
    <h1>Add a New Job!</h1>
    <form action="/jobs/myJobs" method="POST" style="margin-bottom: 20px;">
        <input type="date" name="date" placeholder="Date Applied">
        <input type="text" name="company" placeholder="Company">

        <input type="text" name="position" placeholder="Position">
        <input type="text" name="location" placeholder="Location">

        <select name="status">
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Offer">Offer</option>
            <option value="Rejected">Rejected</option>
        </select>
        <input type="text" name="linkToPosting" placeholder="Link">
        <button>Submit</button>
    </form>

    <a href="/jobs/myJobs">Back to My Jobs</a>

    <!-- 100% privacy-first analytics -->
    <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
</body>
</html>